nav {
  width: 100%;
  background: #111;
  color: white;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.logoo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
